[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
bullet = "*"
setuptools = "*"
myapp = {editable = true, path = "."}
qiniu = "*"

[dev-packages]

[scripts]
setup = "pipenv install -e ."

[requires]
python_version = "3.9"
